.page{
    display: grid;
    grid-template-rows: 50px 200px 50px;
    grid-template-columns: 1fr 4fr 1fr; 
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%; 
    grid-gap:5px;
    margin-left: auto;


    grid-template-areas: "head head head"
                            "nav main sb"
                            "foot foot foot";


}


.header {
    grid-area: head;
    background-color: #8ca0ff;
}

.nav {
grid-area: nav;
background-color: #ffa08c;
}

.sb {
grid-area: sb;
background-color: #ffa08c;
}

.main {
grid-area: main;
background-color: #ffff64;
}

.footer {
grid-area: foot;
background-color: #8cffa0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    
}
.box{
    align-items: center;
    align-self: center;
    background:red ;
    border: 2px black solid;

    width: 60px; 
    height: 60px; 
    transition: transform .5s;

}

.box:hover{
    background-color: purple;
    transform: scale(2.0);
    
}


.title{
    display: flex;
    justify-content: center;
    color:black;
    font-size: 18px;


}